pre { line-height: 125%; }
td.linenos .normal { color: #FCFCFC; background-color: #282828; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #FCFCFC; background-color: #282828; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ff0000 }
.highlight { background: #1E1E1E; color: #FEFEFE }
.highlight .k { color: #499CD6 } /* Keyword */
.highlight .l { color: #AC4C1E } /* Literal */
.highlight .n { color: #FEFEFE } /* Name */
.highlight .o { color: #FEFEFE } /* Operator */
.highlight .x { color: #FEFEFE } /* Other */
.highlight .p { color: #FEFEFE } /* Punctuation */
.highlight .cm { color: #5E9955 } /* Comment.Multiline */
.highlight .cp { color: #B369BF } /* Comment.Preproc */
.highlight .c1 { color: #5E9955 } /* Comment.Single */
.highlight .kc { color: #499CD6 } /* Keyword.Constant */
.highlight .kd { color: #C586C0 } /* Keyword.Declaration */
.highlight .kn { color: #B369BF } /* Keyword.Namespace */
.highlight .kp { color: #499CD6 } /* Keyword.Pseudo */
.highlight .kr { color: #499CD6 } /* Keyword.Reserved */
.highlight .kt { color: #48C999 } /* Keyword.Type */
.highlight .ld { color: #AC4C1E } /* Literal.Date */
.highlight .m { color: #B3D495 } /* Literal.Number */
.highlight .s { color: #B88451 } /* Literal.String */
.highlight .na { color: #569CD6 } /* Name.Attribute */
.highlight .nb { color: #EAEB82 } /* Name.Builtin */
.highlight .nc { color: #48C999 } /* Name.Class */
.highlight .no { color: #FEFEFE } /* Name.Constant */
.highlight .nd { color: #EAEB82 } /* Name.Decorator */
.highlight .ni { color: #FEFEFE } /* Name.Entity */
.highlight .ne { color: #48C999 } /* Name.Exception */
.highlight .nf { color: #EAEB82 } /* Name.Function */
.highlight .nl { color: #FEFEFE } /* Name.Label */
.highlight .nn { color: #FEFEFE } /* Name.Namespace */
.highlight .nx { color: #FEFEFE } /* Name.Other */
.highlight .py { color: #FEFEFE } /* Name.Property */
.highlight .nt { color: #FEFEFE } /* Name.Tag */
.highlight .nv { color: #9CDCFE } /* Name.Variable */
.highlight .ow { color: #499DC7 } /* Operator.Word */
.highlight .w { color: #FEFEFE } /* Text.Whitespace */
.highlight .mb { color: #B3D495 } /* Literal.Number.Bin */
.highlight .mf { color: #B3D495 } /* Literal.Number.Float */
.highlight .mh { color: #B3D495 } /* Literal.Number.Hex */
.highlight .mi { color: #B3D495 } /* Literal.Number.Integer */
.highlight .mo { color: #B3D495 } /* Literal.Number.Oct */
.highlight .sa { color: #499DC7 } /* Literal.String.Affix */
.highlight .sb { color: #B88451 } /* Literal.String.Backtick */
.highlight .sc { color: #B88451 } /* Literal.String.Char */
.highlight .dl { color: #B88451 } /* Literal.String.Delimiter */
.highlight .sd { color: #B88451 } /* Literal.String.Doc */
.highlight .s2 { color: #B88451 } /* Literal.String.Double */
.highlight .se { color: #DEA868 } /* Literal.String.Escape */
.highlight .sh { color: #B88451 } /* Literal.String.Heredoc */
.highlight .si { color: #B88451 } /* Literal.String.Interpol */
.highlight .sx { color: #B88451 } /* Literal.String.Other */
.highlight .sr { color: #B88451 } /* Literal.String.Regex */
.highlight .s1 { color: #B88451 } /* Literal.String.Single */
.highlight .ss { color: #B88451 } /* Literal.String.Symbol */
.highlight .bp { color: #499DC7 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #EAEB82 } /* Name.Function.Magic */
.highlight .vc { color: #9CDCFE } /* Name.Variable.Class */
.highlight .vg { color: #9CDCFE } /* Name.Variable.Global */
.highlight .vi { color: #9CDCFE } /* Name.Variable.Instance */
.highlight .vm { color: #EAEB82 } /* Name.Variable.Magic */
.highlight .il { color: #B3D495 } /* Literal.Number.Integer.Long */